body
{
	background-image: url('/assets/site-background.svg');
}
header
{
	display: flex;
	flex-direction: row;
}
#logo
{
	padding-right: 30em;
}
.image
{
	position: relative;
}
#prod
{
	display: flex;
	flex-wrap : wrap;
}
.produit img, .panier img, #imgP img
{
	height: 18em;
	width: auto;
	border-radius: 0em 9em 0em 9em;
}
.produit
{
	background-color: white;
	width: 18em;
	margin : 2em;
}
#lien
{
	text-decoration: none;
	height: 4em;
	background-color: #df1747;
	text-align: center;
	line-height: 3.5em;
	margin-bottom: 0;
}
.produit a
{
	text-decoration: none;
	color: white;
}
footer
{
	background-color: #ede4db;
	height: 3em;
	margin-top: 2em;
}
#prix
{
	background-color: white;
	color: red;
	width: 3em;
	display: block;
	position: absolute;
	bottom: 15px;
	right: 15px;
}
.contenu h3
{
	height: 2em;
}
.panier
{
	display: flex;
	flex-direction: row;
	background-color: white;
	width: 55em;
	height: 18em;
	margin-left: 10em;
	margin-top: 8em;
	margin-bottom: 20em;
}
#infos, #infos2
{
	display: flex;
	flex-direction: column;
}
.lien1
{
	height: 4em;
	background-color: #df1747;
	text-align: center;
	line-height: 3.5em;
	margin-bottom: 0;
	flex-direction: column;
}
.lien2
{
	height: 4em;
	background-color: #a9998a;
	text-align: center;
	line-height: 3.5em;
}
.lien1 a, .lien2 a
{
	text-decoration: none;
	color: white;
	font-weight: bold;
	margin : 2em 2em 2em 2em;
}
#price, #price2
{
	background-color: white;
	color: red;
	width: 3em;
	margin-left: 10em;
	font-weight: bold;
	font-size: 1.2em;
}
#pdsprice, #pdsprice2
{
	display: flex;
	flex-direction: row;
}
#liens
{
	display: flex;
	flex-direction: row;
	margin-top: 6.5em;
	margin-left: 7em;
}
#logo a
{
	display: block;
	position: absolute;
}
.quantiteP
{
	position: relative;
	bottom: -30px;
	left: -50px;
	margin: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 100px;
	background-color: #df1747;
	color: white;
	font-size: 1.8em;
}
#panier img
{
	height: 10em;
	width: 14em;
	margin-right: 2em;
	border-radius: 0em 6em 0em 6em;
}
#panier
{
	background-color: white;
	display: flex;
	flex-direction: row;
	width: 50em;
	height: 10em;
	margin : 2em;
	margin-left: 8em;
	position: relative;
}
#contenu
{
	flex-direction: column;
}
#glace input
{
	height: 2em;
	width: 2em;
	text-align: center;
	flex-direction: row;
}
#boutton
{
	display: block;
	position: absolute;
	top: 15px;
	right: 15px;
	/*border: 1px solid #000;
	border-radius: 100px;
	background-color: #a9998a;
	color: #a9998a;*/
	height: 30px;
	width: 30px;
}
#glace
{
	display: flex;
	flex-direction: row;
	text-align: right;
}
#px
{
	margin-right: 1em;
	color: red;
	margin-left: 10em;
	font-weight: bold;
	font-size: 1.2em;
}
#total
{
	height: 3.3em;
	width: 25em;
	background-color: white;
	color: #df1747;
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	margin: 1em 1em 1em 1em;
}
#liens3
{
	height: 4em;
	background-color: #a9998a;
	text-align: center;
	line-height: 3.5em;
	margin-bottom: 0;
	margin: 1em 1em 1em 1em;
}
#btn
{
	display: flex;
	flex-direction: row;
}
#liens3 a
{
	text-decoration: none;
	color: white;
	font-weight: bold;
	margin : 2em 2em 2em 2em;
}
